**
!manage.py
!pyproject.toml
!poetry.lock
!poetry.toml
!gunicorn.conf.py
!config/
!config/**
!core/
!core/**
!professionals/
!professionals/**
!appointments/
!appointments/**
!addresses/
!addresses/**
**/__pycache__/
**/*.pyc
